:root{
    --background-color: hsla(32, 37%, 92%, 0.836);
    --text-color:  hsl(158, 36%, 37%); 
    --color-text-01: hsl(212, 21%, 14%);
    --color-text-02: hsl(228, 12%, 48%); 
    --cartao-color:  hsl(0, 0%, 100%);
}
    
   






